<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">

      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <div ng-show="isLogged()">
      <ion-list>
        <div class="profileCont">
          <div class="profile-content">
             <a href="#/app/profile/feed" menu-close><div class="userImage"></div></a>
             <div class="userInfo">
               <p class="profile-name">{{name}} </p>
               <p class="profile-email">{{email}}</p>
             </div>
          </div>
          <div class="panelbody">
            <a class="menupanel" href="#/app/feed/list/" menu-close><font color = #F2CB61>Feed</a>
            <a class="menupanel" href="#/app/wbest" menu-close><font color = #F2CB61>Weekly 감성 Best</a>
            <a class="menupanel" href="#/app/friends" menu-close><font color = #F2CB61>감성검색</a>
            <a class="menupanel" ng-click="settingModal.show()" ng-controller="SettingCtrl" menu-close><font color = #F2CB61>설정</a>
            <a class="menupanel" ng-click="doLogout()" menu-close><font color = #F2CB61>로그아웃</a>
          </div>
        </div>
      </ion-list>
    </div>

        <div ng-hide="isLogged()">
        <ion-list>
          <div class="profileCont">
            <div class="profile-content">
              <div class="userInfo">
              </div>
            </div>
            <div class="panelbody">
              <a class="menupanel" ng-click="login()" menu-close><font color = #F2CB61>로그인</a>
            </div>
          </div>
        </ion-list>
      </div>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
