<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
      <div class="profile-content">
         <a href="#/app/profile" menu-close><div class="userImage"></div></a>
         <div class="userInfo">
           <h1 class="profile-name">이유경 </h1>
           <h1 class="profile-email">leeyu823@gmail.com</h1>
         </div>
      </div>

       <a class="button button-block button-light" href="#/app/feed" menu-close><font color = #F2CB61>Feed</a>

       <a class="button button-block button-light" href="#/app/local" menu-close><font color = #F2CB61>Weekly 감성 Best</a>

       <a class="button button-block button-light" href="#/app/friends" menu-close><font color = #F2CB61>감성검색</a>

       <a class="button button-block button-light" href="#/app/setting" menu-close><font color = #F2CB61>설정</a>

       <a class="button button-block button-light" href="/" menu-close><font color = #F2CB61>로그인</a>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
