<ion-modal-view>
  <ion-content scroll="false">
    <ion-slides  options="options" slider="data.slider">

       <ion-slide-page>
        <div class="list" style="margin-top:30%">
        <label class="item item-input" style="padding: 2%; margin: 5%">
          <input style="width:70%;" type="text" placeholder="Email" ng-model="user.account">
        </label>
        <label class="item item-input" style="padding: 2%; margin: 5%">
          <input style="width:70%;" type="password" placeholder="password" ng-model="user.account">
        </label>
        <label class="item-input" style="padding: 2%; margin: 3%">
          <button class="button button-block button-positive">
            Login</button>
        </label>
        </div>
      </ion-slide-page>

      <ion-slide-page>
        <div class="list" style="margin-top:30%">
        <label class="item item-input" style="padding: 2%; margin: 5%">
          <input style="width:70%;" type="text" placeholder="Email" ng-model="user.account">
        </label>
        <label class="item item-input" style="padding: 2%; margin: 5%">
          <input style="width:70%;" type="password" placeholder="password" ng-model="user.account">
        </label>
        <label class="item-input" style="padding: 2%; margin: 3%">
          <button class="button button-block button-positive">
            Login</button>
        </label>
        </div>
      </ion-slide-page>

    </ion-slides>
  </ion-content>
</ion-modal-view>
