<ion-view view-title="{{local}}">
  <ion-content hide-tabs>
    <div class="feedTemp" href="#/app/feed/list/{{feed.id}}">
      <!-- TODO Move These Code Into Feed Single !! -->
        <!-- Profile -->
          <div class="feedTempTop">
            <img class="messageImage" src="#/app/feed/list/{{feed.id}}">
            <div class="infoLineCont">
              <div class="infoLine1">
                <p>{{data.feed.user.name}}</p>
                <p class="moment">{{data.feed.creationTime}}</p>
              </div>
              <div class="infoLine2"><p>{{data.feed.address}}</p></div>
            </div>
          </div>
          <!-- Content -->
          <div>
            <a href="#/app/feed/list/{{feed.id}}">{{data.feed.contents}}</a>
          </div>
          <div>
            <!-- TODO Add/Toggle Icon -->
            <button class="button button-icon icon ">좋아요 {{data.feed.likeCount}}</button>
            <button ui-sref="app.feed.feed-single" class="button button-icon icon ">댓글</button>
            <button ng-click="messageModal.show()" class="button button-icon icon ">쪽지보내기</button>
          </div>
    </div>
  </ion-content>
</ion-view>
