<ion-view view-title="Feedlist">
	<ion-content>
		<!-- Feed List -->
		<ion-list>
			<ion-item ng-repeat="feed in feedList" href="#/app/feed/list/{{feed.id}}">
				<!-- TODO Move These Code Into Feed Single !! -->
				<div class="list card">
					<!-- Profile -->
					<div class="item">
						<div class="profile item-avatar">
							<image src=""></image>
						</div>
						<p>
							<span>{{feed.location}}</span>
							<span class="date-right">{{feed.date}}</span>
						</p>
						<h2>{{feed.name}}</h2>
					</div>
					<!-- Content -->
					<div class="item item-body">
						<p>
							<a class="subdued" href="#/app/feed/list/{{feed.id}}">
								{{feed.contents}}
							</a>
						</p>
					</div>
					<!-- Inner Buttons -->
					<div>
						<!-- TODO Add/Toggle Icon -->
						<button class="button button-icon icon ">좋아요 {{feed.like}}</button>
						<button class="button button-icon icon ">댓글</button>
						<button ng-click="messageModal.show()" class="button button-icon icon ">쪽지보내기</button>
					</div>
					<!-- Reply -->
					<div>

					</div>
				</div>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
