
  <ion-view view-title="메세지싱글">
    <ion-content class="padding">
      <div class="messageCont" ng-repeat="message in messageSingle">
        <div class="messageTop">
          <div class="messageImage"></div>
          <div>
            <a class="messageInfo"><p class="messageInfoText">보내는 사람</p><p>{{message.from}}</p></a>
            <a class="messageInfo"><p class="messageInfoText">받는사람</p><p>{{message.to}}</p></a>
          </div>
        </div>
        <div><p class="messageInfoText">메세지내용</p></div>
        <div class="messageBox">{{message.message}}</div>
        <button class="button messageSend" ng-click="messageModal.show()">답장하기</button>
      </div>
    </ion-content>
  </ion-view>






              <!-- <div class="messageImage" ng-repeat="message in messageSingle"></div>
                <a>{{message.to}}</a>
                <a>{{message.from}}</a>

              <div>{{message.message}}</div>
        			<button>답장하기</button> -->
