<style>
.slideCont{
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: space-between;
}
.slideItem{
  border-top: 4px solid #ddd;
  padding-top: 0.7em;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.weekTitle{
  margin: 0;
  font-weight: 300;
  padding: 0 0 0.5em 0.5em;
}
.inslideBox{
  border: 1px solid #ddd;
  height: 85%;
  width: 350px;
  display: flex;
  margin-left: -50px;
}
.WeeklyPic{
  position: relative;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.WeeklyPic img{
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
					transform: translate(-50%,-50%);
}
.weekContent{
  display: flex;
  flex-direction: column;
}
.weekContent h1{
  margin: 0.3em 0;
  text-align: center;
  font-weight: 600;
  font-size: 1em;
}
</style>
<ion-view view-title="Weekly 감성 Best">
  <ion-content class="has-header slideCont" scroll="false">
    <div class="slideItem">
      <p class="weekTitle">이번주의 감성게시글</p>
      <ion-slides slider="data.slider">
        <ion-slide-page ng-repeat="data in bestFeed">
          <div class="inslideBox">
            <div class="WeeklyPic">
              <img src="{{data.feed.imageUrl}}"></img>
            </div>
            <div class="weekContent">
              <span>{{data.feed.user.name}}</span>
              <span class="date-right">{{data.feed.creationTime}}</span>
              <a class="subdued" href="#/app/feed/list/{{feed.id}}">{{data.feed.contents}}</a>
            </div>
          </div>
        </ion-slide-page>
      </ion-slides>
    </div>
<!-- 감성 지역: 금 주에 사람들이 가장 많이 방문한 지역-->
    <div class="slideItem">
      <p class="weekTitle">이번주의 감성지역</p>
        <ion-slides slider="data.slider">
          <ion-slide-page ng-repeat="data in bestEvent">
            <div class="inslideBox">
              <div class="WeeklyPic">
                <img src="{{data.imageUrl}}"></img>
              </div>
              <div class="weekContent">
                <h1>{{data.contents}}</h1>
                <span>{{data.creationTime}}</span>
                <a class="subdued" href="#/app/feed/list/{{feed.id}}">{{data.address}}</a>
              </div>
            </div>
          </ion-slide-page>
        </ion-slides>
      </div>
<!-- 감성 이벤트: 금 주의 가장 핫한 이벤트(좋아요 순으로) -->
      <div class="slideItem">
        <p class="weekTitle">이번주의 감성이벤트</p>
          <ion-slides slider="data.slider">
            <ion-slide-page ng-repeat="data in bestEvent">
              <div class="inslideBox">
                <div class="WeeklyPic">
                  <img src="{{data.imageUrl}}"></img>
                </div>
                <div class="weekContent">
                  <h1>{{data.contents}}</h1>
                  <span>{{data.creationTime}}</span>
                  <a class="subdued" href="#/app/feed/list/{{feed.id}}">{{data.address}}</a>
                </div>
              </div>
            </ion-slide-page>
          </ion-slides>
        </div>
    </ion-content>
</ion-view>
