<style>
.detailTemp{
  width: 100%;
  flex-direction: column;
  padding: 0 1em;
	background-color: #EDEDED;
  display: flex;
  align-items: center;
}
.userPic{
  position: relative;
  overflow: hidden;
  border: 1px solid #CECECE;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 1.5em 0;
  text-align: center; /*임시로 놔둔것 */
}
.detailTitle{
	font-weight: 500;
	font-size: 1.1em;
	text-align: center;
	margin: 1.5em 0 1em 0;
	color: #00000F;
}
.gender{
  display: flex;
  overflow: hidden;
  box-shadow: 1px 1px #CECECE;
}
.title {
  font-size: 20px;
  font-weight: 500;
}
::selection {
  background: #fff;
  color: #ff7f00;
}
label {
  -webkit-flex-basis: 100px;
      -ms-flex-preferred-size: 100px;
          flex-basis: 100px;
  width: 150px;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 70px;
  color: #fff;
}
input[type="radio"] {
  display: none;
}
input + label {
  background-color: #fff;
}
input:checked + label .title {
  color: #ff7f00;
}
input + label .title {
  color: #EDEDED;
}
select{
  background: white;
  padding: 1em 2em;
  border: none;
  border-radius: 0;
}
</style>

<ion-view> <!-- Location Search Modal In Feed List -->
	<ion-modal-view>
    <ion-header-bar class="bar bar-stable">
       <h1 class="title">세부정보</h1>
       <p ng-click="detailModal.hide()" class="button button-clear button-light">취소</p>
     </ion-header-bar>
    <ion-content scroll="false" class="detailTemp">
      <div class="userPic">
        프로필사진
        <img src="">
      </div>
      <form style="width:100%;">
        <p class="detailTitle">성별</p>
        <div class="gender">
          <input type="radio" id="male" name="sex" checked="checked">
          <label for="male"><div class="title">남</div></label>
          <input type="radio" id="female" name="sex">
          <label for="female"><div class="title">여</div></label>
        </div>

        <p class="detailTitle">생년월일</p>
        <select ng-model="selectedYear" ng-options="x for x in year">년도</select>
        <select ng-model="selectedMonth" ng-options="x for x in month">월</select>
      </form>

    </ion-content>
  </ion-modal-view>
</ion-view>


<!-- <div class="feedContent">
  <p>{{feeds.feed.contents}}</p>
  <div class="userPic" ng-show="feeds.feed.imgUrl!=null">
      <img src="{{feeds.feed.imgUrl}}">
  </div>
</div> -->
