
<ion-list>
   <div class="feedItem" ng-repeat="feeds in feedlist">
       <div class="feedInfoTop">
           <img src={{feeds.feed.user.imageUrl}} class="feedImage"></img>
           <div class="nameParentBox">
             <div>
               <span class="nameFont">{{feeds.feed.user.name}}</span><br>
               <span class="dateFont">{{feeds.feed.creationTime}}</span>
             </div>
             <div style="text-align:right">
                <i class="icon ion-android-pin"></i>
               <span class="addressFont">{{feeds.feed.address}}</span><br>
               <i class="icon ion-ios-heart"></i>
              <span class="addressFont">{{feeds.feed.likeCount}}회</span>
             </div>
         </div>
       </div>

       <!-- Content -->
       <div class="feedContent">
         <div class="feedContent">
           <p>{{feeds.feed.contents}}</p>
           <div class="userPic" ng-show="feeds.feed.imgUrl!=null">
               <img src="{{feeds.feed.imgUrl}}">
           </div>
         </div>
       </div>
       <!-- Inner Buttons -->

       <div class="funcBox">
         <!-- TODO Add/Toggle Icon -->

         <div ng-model="feeds.likeBtn" class="likeButton" ng-click="like('{{feeds.feed.id}}','{{feeds.userLikeStatus}}') "><i class="feedIcon" ng-class="feeds.likeBtn?'ion-ios-heart':'ion-ios-heart-outline'" aria-hidden="true"></i>좋아요</div>

         <div ng-click="replyOpen('{{feeds.feed.id}}')" class="likeBtn ">
         <i class="icon ion-edit"></i>댓글</div>

         <div ng-click="messageOpen('{{feeds.feed.user.id}}' ,'{{feeds.feed.user.name}}')"
         class="likeBtn "><i class="icon ion-social-twitch"></i>쪽지</div>
       </div>

       <!-- Reply -->

       <div class="feed-content-reply" ng-repeat="reply in feeds.reply" style="height:65px;">
         <a href="#/app/feed/message/{{reply.user.id}}"><img src={{reply.user.imageUrl}} class="replyImage" style="margin-top:-1%;" onclick=""></a>
         <div class="replyContent" style="text-overflow: ellipsis;">
           <span class="nameFont">{{reply.user.name}}</span>
           <span style="white-space:pre-line; font-size: 0.8em;">{{reply.contents}}</span>
         </div>
       </div>

     </div>
 </ion-list>
