
.dateFont{
	font-size:13px;
	color:#999;
}
.nameFont{
  font-size:16px;
  color:#333;
}
.addressFont{
  font-size:12px;
  color:#333;
}
.feedContent{
  padding-left: 3%;
  padding-right: 3%;
  margin-top: -5%;
  width: 100%;
  min-height: 90px;
  max-height: 300px;
  text-overflow: ellipsis;
  overflow: scroll;
}
.feedFont{
  color: #111;
  white-space:pre-line;
  height: 90px;
}

.nameBox{
  width: 35%;
  height: 30%;
  margin-top: -2%;
}
.addressBox{
  width: 50%;
  height: 30%;
  margin-right: -5%;
  margin-top: -2%;
}

.nameParentBox{
  margin-left: -5%;
  width: 100%;
  display: flex;
}
.ion-android-pin{
  margin-top: -1%;
  font-size: 14px;
}

.ion-side-menu{
  width: 20px;
}
