.icon.ion-ios-bell{
  font-size: 30px !important;
}
.icon.ion-home{
  font-size: 30px !important;
}
.icon.ion-android-mail{
  font-size: 30px !important;
}
.icon.ion-ios-search-strong{
  font-size: 30px !important;
}

.icon.ion-ios-home-outline{
  font-size: 20px !important;
}
.icon.ion-thumbsup{
  font-size: 20px !important;
}
.icon.ion-search{
  font-size: 20px !important;
}
.icon.ion-gear-a{
  font-size: 20px !important;
}
.icon.ion-android-exit{
  font-size: 20px !important;
}
.ion-ios-heart{
  color: #ff7f00;
}
.ion-camera{
  margin: 3em;
  font-size: 30px;
}
