
.feedItem{
	border: none;
	margin-top: 1em;
	border: 1px solid #ddd;
	background-color: #fff;
	color: #444;
	position: relative;
	z-index: 2;
	display: block;
	font-size: 16px;
}
.funcBox{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 2em;
	padding: 0.5em;
	border-top: 1px solid #ddd;
	margin: 0.2em 1em 0 1em;
}
.likeBtn{
	display: flex;
	color: #555;
	font-size: 12px;
}
.feedIcon{
	font-size: 1.3em;
	margin-right: 0.3em;
}
.likeButton{
	display: flex;
	align-items: center;
	font-size: 0.8em;
}
.feed-content-reply{
  display: flex;
  width: 100%;
	padding: 0 1.2em;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid lightgray;
}
.feedInfoTop{
	display: flex;
	flex-direction: row;
	margin: 1em 1em 0 1em;
}
.infoLineBox{
  width: 100%;
  display: flex;
	flex-direction: column;
}
.Line{
	display: flex;
	justify-content: space-between;
}
.dateFont{
	font-size:11px;
	color:#999;
	margin: 0;
	width: 70%;
}
.heartFont{
	margin: 0;
	font-size: 15px;
	align-items: center;
	display: flex;
}
.addressFont{
  font-size:12px;
  color:#333;
}
.feedImage{
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
	margin-right: 0.5em;
}
.replyImage{
	max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
	margin-right: 0.5em;
}
.feedContent{
	padding: 1em 1em 0 1em;
  width: 100%;
  min-height: 50px;
  max-height: 400px;
  text-overflow: ellipsis;
  overflow: scroll;
}
.userPic{
	position: relative;
	width: 100%;
	height: 300px;
	overflow: hidden;
}
.userPic img{
	position: absolute;
	left: 50%;
	top: 50%;
	height: auto;
	width: 100%;
	-webkit-transform: translate(-50%,-50%);
			-ms-transform: translate(-50%,-50%);
					transform: translate(-50%,-50%);
}
.replyContent{
	display: flex;
	flex-direction: column;
	margin: 0;
}
.nameFont{
	font-size: 1em;
  font-weight: 500;
  color:#333;
}
.nameParentBox{
  width: 100%;
  display: flex;
	justify-content: space-between;
}
.contentFont{
	color: #333;
	font: "NOTO-SANS";
	font-size: 15px;
	text-decoration:none;
}
